// SASS variables
$softBlue: hsl(231, 61%, 41%);
$softRed: hsl(0, 62%, 50%);
$grayishBlue: hsl(229, 8%, 60%);
$veryDarkBlue: hsl(229, 31%, 21%);
$myfont: "Rubik", sans-serif;
$fontsize: 18px;
$Weights1: 400;
$Weights2: 500;

// mixin rule for button hover effect
@mixin hover-red {
  background-color: #fff;
  color: $softRed;
  border: 2px solid $softRed;
}
@mixin hover-blue {
  background-color: #fff;
  color: $softBlue;
  border: 2px solid $softBlue;
}

// CSS variables for colors used throughout
// This was mainly used for a better dark mode
:root {
  --clr-bcg: #fff;
  --clr-header: hsl(229, 31%, 21%);
  --clr-font: hsl(229, 8%, 60%);
  --clr-primary: hsl(231, 61%, 41%);
  --clr-secondary: hsl(0, 62%, 50%);
  --clr-boxShadow1: 10px 10px 30px #ebe6e671;
  --clr-boxShadow2: -10px -10px 30px #e0e0e0;
  --clr-boxBreak: rgb(206, 201, 201);
  --clr-boxBcg: rgba(255, 250, 250, 0.6);
}

.dark-theme {
  --clr-bcg: #121212;
  --clr-header: hsl(229, 50%, 44%);
  --clr-font: #fff;
  --clr-primary: hsl(231, 61%, 41%);
  --clr-secondary: hsl(0, 62%, 50%);
  --clr-boxShadow1: 10px 10px 30px #000;
  --clr-boxShadow2: -10px -10px 30px #000;
  --clr-boxBreak: #000;
  --clr-boxBcg: #fff;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $myfont;
  background-color: var(--clr-bcg);
}

// Dark mode button
.dark-mode {
  padding: 10px 10px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 20px;
  margin-left: 600px;
  margin-top: 10px;
  font-weight: 900;
  font-size: 15px;
  border: 1px solid #fff;
  box-shadow: 2px 2px 2px 2px;
}
@media screen and (max-width: 480px) {
  .dark-mode {
    margin-left: 125px;
    margin-bottom: -20px;
    // margin-top: -2px;
  }
}

// Nesting rule for the nav bar
nav {
  display: flex;
  justify-content: space-evenly;
  gap: 30%;
  padding: 25px 0 10px 75px;

  .nav-logo {
    margin-top: 10px;
  }
  
  .nav-flex {
    display: flex;
    gap: 40px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    display: inline;
  }

  li a {
    // color: $veryDarkBlue;
    color: var(--clr-header);
    padding: 10px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
  }

  li a:hover {
    // color: $softRed;
    color: var(--clr-secondary);
  }

  .nav-button {
    padding: 12px 34px;
    margin-top: -5px;
    border-radius: 5px;
    border: none;
    left: 30px;
    // background-color: $softRed;
    background-color: var(--clr-secondary);
    color: hsl(225, 29%, 97%);
    cursor: pointer;
    font-weight: 600;
  }

  .nav-button:hover {
    @include hover-red;
  }
}

.mobile {
  display: flex;
  gap: 63%;
}


/* Mobile Nav bar*/
.show-modal {
  cursor: pointer;
  background-color: var(--clr-boxBcg);
}

.modal {
  position: absolute;
  /* background-color: rgba(11, 10, 94, 0.3); */
  width: 20%;
  height: 100%;
  z-index: 5;
  left: 40%;
  top: 5%;
}

.mobile-logo {
  stroke: #fff;
  fill: azure;
}

.close-modal {
  margin-top: -5px;
  font-weight: 800;
  font-size: 35px;
  color: #fff;
  cursor: pointer;
}

.logo-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

hr {
  color: rgba(141, 138, 138, 0.5);
}

.features, .contact {
  margin-left: 80px;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 2px;
}

.pricing {
  margin-left: 90px;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 2px;
}

.login {
  margin-left: 100px;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 2px;
}

.text {
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
  background-color: rgba(3, 7, 58, 0.7);
  z-index: 2;
}

.scnd-nav {
  display: flex;
  justify-content: space-evenly;
}

.hide {
 display: none;
}

.hidden {
  display: none;
}

//Main content
.intro {
  display: flex;
  margin: {
    top: 80px;
    left: 150px;
    right: 50px;
  }
}

// styling for the right background
.intro::after {
  content: "";
  display: inline-block;
  width: 50%;
  height: 50%;
  position: absolute;
  // background-color: $softBlue;
  background-color: var(--clr-primary);
  right: -1%;
  top: 50%;
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
  z-index: -1;
}

.intro-1 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;

  .intro-header {
    font-size: 35px;
    // color: $veryDarkBlue;
    color: var(--clr-header);
    font-weight: $Weights2;
    width: 105%;
    height: 34%;
  }

  .intro-paragraph {
    width: 75%;
    height: 24%;
    // color: $grayishBlue;
    color: var(--clr-font);
    font-size: $fontsize;
  }

  .intro-button {
    display: flex;
    gap: 15px;
  }

  .intro-button-1 {
    padding: 15px 15px;
    border-radius: 8px;
    border: none;
    // background-color: $softBlue;
    background-color: var(--clr-primary);
    box-shadow: 3px 3px 3px rgb(53, 50, 50);
    color: #fff;
    cursor: pointer;
    font-weight: 600;
  }

  .intro-button-2 {
    @extend .intro-button-1;
    background-color: #fff;
    color: #000;
  }

  .intro-button-1:hover {
    @include hover-blue;
  }

  .intro-button-2:hover {
    background-color: #fff;
    // color: $veryDarkBlue;
    color: var(--clr-header);
    // border: 2px solid $veryDarkBlue;
    border: 2px solid --clr-header;
  }
}

.nxt {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: {
    top: 150px;
    left: -70px;
  }

  .nxt-header {
    font-size: 30px;
    // color: $veryDarkBlue;
    color: var(--clr-header);
    margin-bottom: -20px;
  }

  .nxt-paragraph {
    font-size: 18px;
    // color: $grayishBlue;
    color: var(--clr-font);
    width: 35%;
    height: 10%;
    text-align: center;
    margin-top: -20px;
  }
}

//Tab view
.select {
  display: flex;
  justify-content: center;
  gap: 100px;
  font-size: 25px;
  margin-top: 70px;
  font-weight: 600;
}

.select > a:link {
  // color: $grayishBlue;
  color: var(--clr-font);
  text-decoration: none;
}

.select > a:visited {
  // color: $veryDarkBlue;
  color: var(--clr-header);
  text-decoration: none;
}

.select > a:hover {
  // color: $softRed;
  color: var(--clr-secondary);
}

// <hr> styling
.line-1 {
  display: none;
  margin: {
    top: 20px;
    left: 280px;
    right: 800px;
  }
  // border: 3px solid $softRed;
  border: 3px solid --clr-secondary;
  // background-color: $softRed;
  background-color: var(--clr-secondary);
}
// <hr> styling
.line-2 {
  display: block;
  margin: {
    left: 20%;
    right: 20%;
    top: 20px;
  }
  border: 2px solid rgb(197, 195, 195);
}
.line-mobile {
  display: none;
}

.btn {
  display: flex;
  align-items: center;
  gap: 8%;
  margin: {
    left: 80px;
    top: 100px;
  }
}

//To hide some tabs
.active {
  display: none;
}

// styling for the blue left background
.btn::before {
  content: "";
  display: inline-block;
  width: 40%;
  height: 50%;
  position: absolute;
  // background-color: $softBlue;
  background-color: var(--clr-primary);
  left: -1%;
  top: 190%;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  z-index: -1;
}

.btn-2 {
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 35px;
    margin-bottom: 25px;
    // color: $veryDarkBlue;
    color: var(--clr-header);
  }

  p {
    font-size: 20px;
    width: 62%;
    height: 30%;
    margin-top: -2px;
    margin-bottom: 30px;
    // color: $grayishBlue;
    color: var(--clr-font);
  }

  .btn-button {
    padding: 15px 20px;
    border-radius: 8px;
    border: none;
    // background-color: $softBlue;
    background-color: var(--clr-primary);
    box-shadow: 1px 2px 1px rgb(53, 50, 50);
    color: #fff;
    cursor: pointer;
    font-weight: 600;
  }

  .btn-button:hover {
    @include hover-blue;
  }
}

.ext {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;

  .ext-header {
    font-size: 23px;
    // color: $veryDarkBlue;
    color: var(--clr-header);
    // margin-bottom: -15px;
    font-weight: 500;
  }

  .ext-paragraph {
    margin-top: -30px;
    font-size: 20px;
    width: 39%;
    height: 10%;
    text-align: center;
    // color: $grayishBlue;
    color: var(--clr-font);
  }
}

.box {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 60px;
}

.box-1 {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-boxBcg);
  padding: 30px 50px 0 50px;
  border-radius: 10px;
  box-shadow: 10px 10px 30px #ebe6e671, -10px -10px 30px #e0e0e0;
  box-shadow: var(--clr-boxShadow1), var(--clr-boxShadow2);
}

.box--1 {
  margin-block-end: 6rem;
}

.box-2 {
  @extend .box-1;
  margin-block-start: 4rem;
  margin-block-end: 2rem;
}

.box-3 {
  @extend .box-1;
  margin-block-start: 8rem;
  margin-block-end: -1rem;
}

.box-header {
  font-size: 18px;
  font-weight: 500;
  // color: $veryDarkBlue;
  color: var(--clr-header);
  text-align: center;
  margin-bottom: 15px;
  margin-top: 40px;
}

.box-paragraph {
  font-size: 16px;
  // color: $grayishBlue;
  color: var(--clr-boxBreak);
  text-align: center;
}

.box-break {
  margin-top: 50px;
  margin-bottom: 15%;
  margin-left: -25%;
  margin-right: -25%;
  border: 2px dashed var(--clr-boxBreak);
  border-width: 2px;
  height: 2px;
}

.box-img {
  margin-left: 40px;
}

.box-button-1 {
  padding: 15px 20px;
  border-radius: 8px;
  border: none;
  // background-color: $softBlue;
  background-color: var(--clr-primary);
  box-shadow: 1px 1px 1px rgb(53, 50, 50);
  color: #fff;
  cursor: pointer;
  font-weight: 600;
}

.box-button-2 {
  @extend .box-button-1;
}

.box-button-3 {
  @extend .box-button-1;
  margin-bottom: 17px;
}

.box-button-1:hover,
.box-button-2:hover,
.box-button-3:hover {
  @include hover-blue;
}

.bgd {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
}

.bgd-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.bgd-header {
  font-size: 30px;
  // color: $veryDarkBlue;
  color: var(--clr-header);
  margin-bottom: -2px;
}

.bgd-paragraph {
  font-size: 20px;
  width: 39%;
  height: 10%;
  // color: $grayishBlue;
  color: var(--clr-font);
}

//Accordion (frequently asked questions)
.bkm {
  display: flex;
  flex-direction: column;
  margin-left: 28%;
  margin-top: 30px;
}

.bkm-break-1 {
  display: block;
  margin: {
    right: 38%;
  }
  border: 1px solid rgb(220, 222, 228);
}
.bkm-brk {
  margin-top: 5%;
}

.bkm-break-2 {
  @extend .bkm-break-1;
  margin-top: 3%;
}

.bkm-break-3 {
  @extend .bkm-break-1;
  margin-top: 3%;
}

.bkm-break-4 {
  @extend .bkm-break-1;
  margin-top: 3%;
}

.bkm-break-5 {
  @extend .bkm-break-1;
  margin-top: 3%;
}

.bkm-flex {
  display: flex;
  gap: 15%;
}

.bkm-header {
  font-size: 23px;
  // color: $veryDarkBlue;
  color: var(--clr-header);
  margin-top: 28px;
  margin-bottom: 3px;
  cursor: pointer;
}

.bkm-text {
  font-size: 20px;
  width: 55%;
  color: hsl(228, 21%, 24%);
  display: none;
}

.visible {
  display: block;
}

.bkm-header:hover {
  // color: $softRed;
  color: var(--clr-secondary);
}

.bkm-logo-1,
.bkm-logo-2,
.bkm-logo-3,
.bkm-logo-4 {
  margin-top: 35px;
}

.bkm-logo-1 {
  margin-left: 21%;
}

.bkm-logo-2 {
  margin-left: 4%;
}

.bkm-logo-3 {
  margin-left: 18%;
}

.bkm-logo-4 {
  margin-left: -2%;
}

.rotate {
  transform: rotate(180deg);
}

.bgd-button {
  padding: 15px 20px;
  border-radius: 8px;
  border: none;
  // background-color: $softBlue;
  background-color: var(--clr-primary);
  box-shadow: 1px 2px 1px rgb(53, 50, 50);
  color: #fff;
  margin-left: 45%;
  margin-top: 4%;
  cursor: pointer;
  font-weight: 600;
}

.bgd-button:hover {
  @include hover-blue;
}

// the softblue container
.ftr {
  background-color: $softBlue;
  margin-top: 10%;
  width: 101%;
}

.ftr-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  gap: 20px;
  text-align: center;
}

.ftr-paragraph {
  font-size: 18px;
  color: #fff;
  word-spacing: 8px;
  font-weight: 400;
}

.ftr-header {
  font-size: 40px;
  color: #fff;
  width: 40%;
  height: 10%;
  margin-top: 1px;
}

.ftr-header::first-line {
  word-spacing: 3px;
}

.ftr-input {
  padding: 15px 60px;
  border-radius: 5px;
  border: none;
  margin-left: 5%;
  margin-top: 3%;
  font-weight: 700;
}

.error {
  color: #fff;
  // background-color: $softRed;
  background-color: var(--clr-secondary);
  border-radius: 2px;
  padding: 2px 50px;
  font-size:12px;
  margin-top: 1px;
  margin-left: 30px;
  display: none;
}
@media screen and (max-width: 400px) {
  .error {
    margin-left: 7px;
  }

}
.error-view {
  display: block;
}

.ftr-button {
  margin-bottom: 80px;
  padding: 15px 35px;
  border-radius: 5px;
  border: none;
  // background-color: $softRed;
  background-color: var(--clr-secondary);
  box-shadow: 1px 2px 1px rgb(53, 50, 50);
  color: #fff;
  cursor: pointer;
  margin-left: 5%;
  margin-top: 5%;
  font-weight: 700;
}

.ftr-button:hover {
  @include hover-red;
}

// the darkblue container
.ftr-2 {
  background-color: $veryDarkBlue;
  width: 101%;

  // to add color to the logo
  .ftr-2-logo {
    fill: #ffffff;
    stroke: #fff;
  }

  // footer navbar
  nav {
    display: flex;
    justify-content: flex-start;
    padding: 40px 60px;
    gap: 30px;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }

    li {
      display: inline;
    }

    li a {
      color: $grayishBlue;
      padding: 10px 14px;
      text-decoration: none;
      font-size: 20px;
    }

    li a:hover {
      // color: $softRed;
      color: var(--clr-secondary);
    }

    .ftr-2-flex {
      display: flex;
      gap: 30px;
      align-items: flex-end;
      margin-left: 50%;
    }

    // to make the logo clickable
    .logo {
      cursor: pointer;
      width: 40%;
      height: 70%;
    }

    // to add hover effect to the logo
    .logo:hover {
      // stroke: $softRed;
      stroke: var(--clr-secondary);
    }
  }
}

//  mobile view with 400px as screen size
@media screen and (max-width: 400px) {
  body {
    max-width: 100vw;
    min-height: 100vh;
  }

  nav {
    display: inline;

    .nav-logo {
      margin-left: -60px;
      margin-top: 15px;
    }

    ul {
      margin-top: 10px;
     } 

     li a {
      font-size: 15px;
      font-weight: 400;
      padding: 12px 10px;
    }

    .nav-button {
      padding: 10px 20px;
      margin-top: 3px;
    }
  }

  .hide-1 {
    display: none;
}

.hide {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.modal {
 top: 7%;
 left: 15%;
}

.close-modal{
  position: absolute;
  top: -1%;
  left: 350%;
}

.bkmark {
  margin-left: 30px;
}

.show-modal {
  margin-right: 30px;
}

.mobile-logo {
  margin-right: -100px;
  margin-bottom: 15px;
}

hr {
  margin-right: -200px;
}

  .intro {
    flex-direction: column-reverse;
    margin-top: 20px;
    margin-left: 50px;
  }
  .intro-img {
    width:110%;
    height: 80%;
    margin-left: -15px;
    margin-top: 10px;
  }
  .intro::after {
    top: 30%;
    width: 80%;
    left: 30%;
    height: 35%;
  }

  .intro-1 {
    margin-top: -15px;
    text-align: center;

    .intro-header {
      font-size: 20px;
      width: 130%;
      margin-left: -50px;
    }

    .intro-paragraph {
      font-size: 15px;
      margin-top: -25px;
      width: 110%;
      margin-left: -20px;
    }

    .intro-button {
      gap: 10px;
      margin-left: -5px;
      margin-top: 30px;
    }

    .intro-button-1 {
      padding: 15px 5px;
      font-size: 15px;
    }
  }

  .nxt {
    margin-left: 5px;

    .nxt-header {
      margin-top: -15px;
      font-size: 20px;
    }

    .nxt-paragraph {
      margin-top: -5px;
      font-size: 15px;
      width: 85%;
    }
  }

  .select {
    position: relative;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
  }

  .line-1 {
    display: none;
  }

  .line-2 {
    margin-left: 3%;
    margin-right: 5%;
    border: 1px solid rgb(231, 227, 227);
  }

  .line-mobile {
    display: block;
    margin-left: 3%;
    margin-right: 5%;
    border: 1px solid rgb(231, 227, 227);
  }

  .btn {
    flex-direction: column;
    margin-top: 50px;
  }

  .btn-img {
    width: 107%;
    height: 80%;
    margin-top: 35px;
    margin-left: -30px;
  }

  .btn::before {
    width: 75%;
    height: 40%;
    top: 260%;
  }

  .btn-2 {
    margin-top: 35%;
    margin-left: -55px;

    h2 {
      font-size: 25px;
      margin-left: 20px;
      margin-bottom: 10px;
    }

    p {
      font-size: 15px;
      width: 90%;
      text-align: center;
    }

    .btn-button {
      margin-left: 100px;
    }
  }

  .tab-2 {
    h2 {
      margin-top: -25px;
      margin-left: 50px;
    }
   p {
      margin-top: 5px;
    }
  }

  .tab-3 {
    h2 {
      margin-top: -25px;
      margin-left: 50px;
    }
    p {
      margin-top: 5px;
    }
  }

  .ext {
    margin-top: 35%;

    .ext-header {
      font-size: 17px;
    }

    .ext-paragraph {
      font-size: 15px;
      width: 80%;
    }
  }

  .box {
    flex-direction: column;
    margin-top: 50px;
  }

  .box-1 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .box-2 {
    margin-top: -80px;
  }

  .box-3 {
    margin-top: -20px;
  }

  .box-header {
    margin-top: 20px;
  }

  .box-img{
    margin-left: 30px; 
  }

  .box-break {
    margin-left: -20%;
    margin-right: -20%;
  }

  .box-button-1 {
    margin-left: -10px;
  }

  .bgd {
    margin-top: 200px;
  }

  .bgd-header {
    font-size: 23px;
  }

  .bgd-paragraph {
    font-size: 15px;
    width: 90%;
  }

  .bkm {
    margin-left: 15px;
  }

  .bkm-break-1 {
    margin-right: 10%;
  }

  .bkm-header {
    font-size: 18px;
    font-weight: 400;
  }

  .bkm-text {
    font-size: 15px;
    width: 80%;
  } 

  .bkm-logo-1 {
    margin-left: 32%;
  }

  .bkm-logo-2 {
    margin-left: -2%;
  }

  .bkm-logo-3 {
    margin-left: 26%;
  }

  .bkm-logo-4 {
    margin-left: -12%;
  }

  .bgd-button {
    margin-top: 10%;
    margin-left: 38%;
  }

  .ftr {
    margin-top: 30%;
    min-width: 110vw;
  }

  .ftr-paragraph {
    font-size: 20px;
  }

  .ftr-header {
    font-size: 25px;
    width: 80%;
    margin-left: -20px;
  }

  .ftr-input {
    padding: 15px 50px;
    margin-left: 1%;
    font-size: 15px;
    font-weight: 400;
  }

  .ftr-button {
    padding: 15px 30px;
    margin-left: 1%;
    font-size: 18px;
    font-weight: 700;
  }

  .ftr-2 {
    min-width: 110%;

    nav {
      flex-direction: column;
      margin-left: 100px;

      li a {
        display: block;
        font-weight: 700;
        font-size: 20px;
      }

      .ftr-2-flex {
        align-items: center;
        margin-left: 5%;
        margin-top: 5%;
      }
    }
  }
}
